<% layout('boilerplate') %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form action="" role="form" method="post">
        <h2>Add Category</h2>
        <% if (message.length > 0) { %>
          <div class="alert alert-success alert-dismissible text-center" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= message %>
          </div>
        <% } else { %>
          <% if (failure.length > 0) { %>
            <div class="alert alert-danger alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= failure %>
            </div>
        <% } }%>
        <hr class="colorgraph">
        <div class="form-group">
          <input type="text" name="category" id="category" class="form-control input-lg" placeholder="Add your category" tabindex="1">
        </div>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-md-6"><input type="submit" name="category-submit" value="Submit" class="btn btn-primary btn-block btn-lg" tabindex="3"></div>
          <div class="col-xs-12 col-md-6"><a href="/" class="btn btn-default btn-block btn-lg">Cancel</a></div>
        </div>
      </form>
    </div>
  </div>
</div>
