body {
  padding-top: 55px;
  padding-bottom: 20px;
  margin-top: 30px !important;
}

.navbar-profile {
  display: inline-block;
  height: 25px;
  padding-top: -20px;
  padding-right: 8px;
}

.profile {
  margin-top: 20px;
}

.product-image {
  width: 100%;
}

.main {
  margin-top: -30px;
}


/* Credit card css */
/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}

/* Credit card css end */


.payment-history {
  padding-top: 50px;
}
