<% layout('boilerplate') %>
<div class="jumbotron">
      <div class="container">
        <h1>Shop smart.</h1>
        <p>This website is only for testing purpose. This is an amazon clone building in nodejs, expressjs and mongodb with elasticsaerch. Payment gateway as stripe payment api.</p>
        <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Signup &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Start your search here</h2>
          <p>Signup to start buying</p>
          </div>
        <div class="col-md-4">
          <h2>Look for smarts items ?</h2>
          <p>These will appear across the site as you add to your cart</p>
          </div>
        <div class="col-md-4">
          <h2>Build a smart cart</h2>
          <p>The more smart items you buy together, the mre you save.</p>
          </div>
      </div>

      <hr>
